@use './styles/tokens';
@use './styles/typography';
@use './styles/buttons';
@use './styles/skeleton';
@use './styles/modal';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-width: var(--viewport-min-width);
}
