<article class="skeleton-card" data-cy="skeleton-card">
  <div class="row">
    <dpo-skeleton-block width="var(--size-avatar-lg)" height="var(--size-avatar-lg)" borderRadius="var(--radius-pill)"></dpo-skeleton-block>
    <dpo-skeleton-block width="var(--size-skeleton-name-width)" height="var(--size-skeleton-line-height)"></dpo-skeleton-block>
  </div>
  <dpo-skeleton-block height="var(--size-skeleton-line-height)"></dpo-skeleton-block>
  <dpo-skeleton-block height="var(--size-skeleton-line-height)"></dpo-skeleton-block>
  <dpo-skeleton-block height="var(--size-skeleton-line-height)"></dpo-skeleton-block>
</article>
